{% extends 'blog/base.html' %}
{% block title %} Contact {% endblock title%}
{%block contactactive%}active{% endblock contactactive %}

{%block body%}

<div class="text-center mx-auto" style="max-width: 800px; margin-top:20px ; margin-bottom:50px;">
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="address" placeholder="Enter your address" required>
      </div>
      <div class="mb-3">
        <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{%include 'blog/footer.html' %}

{%endblock body%}